.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 2rem #fff;
    border-radius: .25rem;
    box-shadow: 6px 6px rgba(206, 130, 142, 1);
    -webkit-box-shadow: 6px 6px rgba(206, 130, 142, 1);
    -moz-box-shadow: 6px 6px rgba(206, 130, 142, 1);
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

.card:hover {
    box-shadow: 4px 4px rgba(206, 130, 142, 1);
    -webkit-transition: box-shadow .4s ease-in;
    transition: box-shadow .4s ease-in;
}

.card_header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: #242424;
    border-radius: .4rem .4rem 0rem 0rem;
    color: white;
    border-bottom: solid .02rem #e4e4e46c;
}
.card_body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background-color: #242424;
    border-radius: 0rem 0rem .4rem .4rem;
    color: #fff;
}

.card_title {
    margin-bottom: .5rem;
    text-align: center;
}