.searchbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}

.searchbox input {
    border-radius: 8px;
    padding: .2rem 1rem;
    background-color: #272529;
    border: 2px solid #272529;
    color: white;
}

.searchbox input:focus {
    outline: rgba(206, 130, 142, 1);
}

::placeholder {
    color: rgba(206, 130, 142, 1);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(206, 130, 142, 1);
}

::-ms-input-placeholder {
    color: rgba(206, 130, 142, 1);
}