.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #CE828E;
    height: 40px;
    margin: 0px;
    padding: .4rem .6rem;
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: black;
}